<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>ユーザー登録</title>
</head>
<body>
<section layout:fragment="content">
    <div class="user-form">
        <h2>ユーザー登録</h2>
        <form th:action="@{/users}" method="post" th:object="${userForm}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                    global error
                </p>
            </div>
            <div class="form-group">
                <label for="username">ユーザーID</label>
                <input type="text" id="username" class="form-control" th:field="*{username}" required autofocus>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <div class="form-group">
                <label for="password">パスワード</label>
                <input type="password" id="password" class="form-control" th:field="*{password}" required>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">登録</button>
        </form>
    </div>
</section>
</body>
</html>